<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body class="overflow-x-hidden h-auto">
    
    {% include "header.njk" %}
    <!-- <main class="flex flex-col justify-center w-screen h-full snap-y snap-mandatory overflow-y-scroll"> -->
    <main class="container mx-auto justify-center w-screen h-screen snap-y snap-mandatory overflow-y-scroll">
        {{ content | safe }}
    </main>
    

    <!-- <footer class="footer w-full text-center py-5 text-gray-300 bg-gray-950">
        <p class="roboto300 text-white">&copy; Whitebox Collective {% year %}</p>
    </footer> -->
</body>
</html>