<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{'/css/style.css' | url | safe}}">
    <!-- <link rel="stylesheet" href="{{'/css/tailwind.css' | url | safe}}"> -->


</head>
<body>
    <div class="content">
        {% include "header.njk" %}
        <main class="main flex justify-center">
          {{ content | safe }}
        </main>
    </div>
    <footer class="footer w-full text-center m-0 mt-10 py-5 font-mono font-light text-gray-300 bg-gray-800">
        <p class="roboto300">&copy; Whitebox Collective {% year %}</p>
    </footer>
</body>
</html>