<header class="header_container">
    <ul class="nav_links">
      <li><a class="header__link" href="/">WBC</a></li>
      <li><a class="header__link" href="/menu">menu</a></li>
      <li><a class="header__link" href="/services">services</a></li>
      <li><a class="header__link" href="/about">about us</a></li>
    </ul>
</header>