<header class="header_container bg-white sticky top-0 z-50 flex items-right justify-end sm:justify-center">
    <ul class="flex p-3">
      <li class="mr-6 mx-auto">
        <a class="header__link" href="/"><img src="/images/main_logo.png" class="fill-current h-8 w-8 mr-2" width="40" height="40"/></a>
      </li>
      <li class="mr-6 pt-1">
        <a class="header__link font-thin roboto300 text-gray-500 hover:bg-gray-200" href="/menu">menu</a>
      </li>
      <li class="mr-6 pt-1">
        <a class="header__link font-thin roboto300 text-gray-500 hover:bg-gray-200" href="/services">services</a>
      </li>
      <li class="mr-6 pt-1">
        <a class="header__link font-thin roboto300 text-gray-500 hover:bg-gray-200" href="/about">about us</a>
      </li>
    </ul>
</header>
