<div class="grid place-content-center w-full justify-center text-center h-96">
    <h3 class="text-6xl whitebox_name mb p-5 w-3/4 m-auto text-white bg-black">Whitebox Collective</h3>
    <h4 class="text-sm text-yellow-600"><i class="whitebox_name_supp font-md text-lg roboto100">for better days ahead</i></h5>
</div>
<div class="main_page container mx-0 w-full">
    <div class="grid justify-center gap-1 grid-cols-1 lg:md:sm:grid-cols-2">
        <div class="container justify-center mt-0 h-44 lg:md:sm:h-screen bg-cover bg-center bg-[url('/images/p1.jpeg')]">
            <!-- <div class="services">
                <h3 class="whitebox_name text-4xl text-center mb-5">Coffee Cart</h3>
                <div class="container justify-center">
                    <div class="container w-8/12 mx-auto overflow-hidden">
                        <div class="mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide container"><img src="/images/p5.jpg" class="w-full rounded-xl"/></div>
                                <div class="swiper-slide container"><img src="/images/p2.jpg" class="w-full rounded-xl"/></div>
                                <div class="swiper-slide container"><img src="/images/p3.jpg" class="w-full rounded-xl"/></div>
                                <div class="swiper-slide container"><img src="/images/p4.jpg" class="w-full rounded-xl"/></div>
                                <div class="swiper-slide container"><img src="/images/p5.jpg" class="w-full rounded-xl"/></div>
                            </div>
                            <div class="swiper-pagination static"></div>
                        </div>    
                    </div>  
                </div>
                <p class="roboto300 text-gray-500 text-md m-5">We offer coffee cart service for any occasion! Guaranteed to bring you the best coffee experience.</p>
                
            </div>

            <div class="reachus container mt-20 md:sm:mt-0 content-center text-center">
                <h3 class="whitebox_name text-4xl text-center">Contact us</h3>
                <p class="container mt-5 text-sm text-gray-500 mx-auto">
                    FB: <a href="https://www.facebook.com/wbcollectiveph" target="_blank" class="ml-2 mr-5 text-yellow-600 hover:bg-gray-300 roboto300">wbcollectiveph</a> 
                    IG: <a href="https://www.instagram.com/wbcollectiveph/" target="_blank" class="ml-2 mr-5 text-yellow-600 hover:bg-gray-300 roboto300">wbcollectiveph</a>
                </p>
                <p class="container mt-1 text-sm text-gray-500 font-mono roboto300">
                    <a href="https://goo.gl/maps/ne3XJaN2v4ZQgct47" target="_blank" class="ml-2 roboto300 text-yellow-600">NPM Bldg, 9010 Doña Aurora St, Lucena, 4301 Quezon</a>
                </p>
            </div> -->
        </div>

        <div class="menu container mt-10 justify-center text-center font-mono">
            <h3 class="whitebox_name text-3xl">Drinks and Coffee</h3>
            <div class="m-10 grid justify-center gap-1 grid-cols-1 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-2">
                {% for menu_item in collections.front_drinks %}
                    {%- if menu_item.data.frontPage %}
                        <div class="menu_front container roboto300 h-40 grid place-content-center">
                            <p>{{ menu_item.data.name }}</p>
                            <p class="roboto100 text-sm">{{ menu_item.data.description }}</p>
                            <p>{{ menu_item.data.priceStart }}</p>
                        </div>
                        <!-- <tr><td class="w-6/12 mt-10 p-0 py-1.5 text-left pl-10">{{ menu_item.data.name }}</td> <td class="w-2/12"></td> <td class="w-4/12">{{ menu_item.data.priceStart }}</td></tr> -->
                    {%- endif -%}
                {% endfor %}
            </div>
            <h3 class="whitebox_name text-3xl">Food and Snacks</h3>
            <div class="grid justify-center gap-1 grid-cols-1 lg:md:sm:grid-cols-3 m-10">
                {% for menu_item in collections.front_food %}
                    {%- if menu_item.data.frontPage %}
                        <div class="menu_front container roboto300 h-40">
                            <p>{{ menu_item.data.name }}</p>
                            <p>{{ menu_item.data.description }}</p>
                            <p>{{ menu_item.data.priceStart }}</p>
                        </div>
                        <!-- <tr><td class="w-6/12 mt-10 p-0 py-1.5 text-left pl-10">{{ menu_item.data.name }}</td> <td class="w-2/12"></td> <td class="w-4/12">{{ menu_item.data.priceStart }}</td></tr> -->
                    {%- endif -%}
                {% endfor %}
            </div>
            <!-- <table class="menu_table container mt-10 mb-10 roboto300">
                <thead><tr><td class="w-6/12"></td> <td class="2/12"></td> <td class="w-4/12 font-light text-xs">starts at</td></tr></thead>
                <tbody>
                    {% for menu_item in collections.menu %}
                        {%- if menu_item.data.frontPage %}
                        <tr><td class="w-6/12 mt-10 p-0 py-1.5 text-left pl-10">{{ menu_item.data.name }}</td> <td class="w-2/12"></td> <td class="w-4/12">{{ menu_item.data.priceStart }}</td></tr>
                        {%- endif -%}
                    {% endfor %}
                </tbody>
            </table>
            <a href="/menu" class="text-gray-900 text-sm hover:bg-gray-500 p-1 mt-5 roboto300">- full menu here -</a>         -->
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.mySwiper', {
    // Optional parameters
        direction: 'horizontal',
        loop: true,
        speed: 400,
        effect: 'fade',
        autoplay: {
            delay: 2500,
            disableOnInteraction: false
        },
        pagination: {
            el: '.swiper-pagination',
            type: 'bullets',
        },
        slidesPerView: 1
    });
</script>