@tailwind base;
@tailwind components;
@tailwind utilities;


.whitebox_name {
    font-family: 'Lora', serif;
    /* color: #ffffff; */
}

.whitebox_name_start {
    font-family: 'Lora', serif;
    font-weight: bold;
    /* color: #ffd92f; */
}

.whitebox_name_supp {
    font-family: 'Fira Mono', monospace;
}

.roboto300 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.roboto100 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}