@tailwind base;
@tailwind components;
@tailwind utilities;


.whitebox_name {
    font-family: 'Lora', serif;
    /* color: #ffffff; */
}

.whitebox_name_start {
    font-family: 'Lora', serif;
    font-weight: bold;
    /* color: #ffd92f; */
}

.whitebox_name_supp {
    font-family: 'Fira Mono', monospace;
}

.roboto300 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.roboto100 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.img_gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

.img_gray:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}

.menu_front {
    transition: all 0.5s ease;
} 

.menu_front:hover {
    background-color: rgb(231, 231, 231);
}